<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dq.mapper.CarMapper">
    <update id="updatePosition">
        update car set positionX=#{positon_X},positionY=#{positionY} where car_id=#{car_id}
    </update>
    <update id="changeStatus">
        update car set status=#{status} where car_id=#{car_id}
    </update>
    <select id="findById" resultType="com.dq.domain.Car">
        select * from car where car_id=#{car_id}
    </select>
    <select id="lookUpStatus" resultType="java.lang.Boolean">
        select status from car where car_id=#{car_id}
    </select>
    <select id="findAvailable" resultType="com.dq.domain.Car">
        select * from car where status=false limit 1
    </select>

</mapper>