<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dq.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.dq.domain.User">
        insert into user(username,openid,password) values (#{username},#{openid},#{password})
    </insert>

    <select id="findUser" resultType="com.dq.domain.User">
        select * from user where username=#{username}
    </select>
</mapper>